modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3000

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 42576650
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
